/* Base Application Styles */

.error-message {
  color: #E91E63;
}

.server-message {
  color: #3F51B5;
}

.client-message {
  color: #FF5722;
}

.status-message {
  color: #795548;
}

.selected-item {
  background-color: #ccc;
}

.terminal-container {
  height: 290px;
  overflow: scroll;
  padding-bottom: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.no-padding {
  padding: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.relative-container {
  position: relative;
}

.form-bottom-element {
  position: absolute;
  bottom: 8px;
}