/* Base Application Styles */

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.relative-container {
  position: relative;
}

.form-bottom-element {
  position: absolute;
  bottom: 8px;
}