/* Base Application Styles */

.error-message {
  color: #E91E63;
}

.server-message {
  color: #3F51B5;
}

.client-message {
  color: #FF5722;
}

.status-message {
  color: #795548;
}

.highlight-title {
  color: #795548;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.selectable-text {
  -webkit-user-select: text;
  cursor: text;
}

.selected-item {
  background-color: #ccc;
}

.full-height {
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin-right: 1px;
  padding-bottom: 10px;
}

.full-width {
  width: 100%;
}

.padding-left-30 {
  padding-left: 30px;
}

.no-padding {
  padding: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.relative-container {
  position: relative;
}

.form-bottom-element {
  position: absolute;
  bottom: 8px;
}